@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background-color: #f6f6f7;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.main1 {
  width: 40%;
  height: 110vh;

  background-color: white;
  margin-right: 10%;
  border-radius: 3%;
}

.main2 {
  width: 40%;
  height: 110vh;

  background-color: white;
  border-radius: 3%;
}

.header-bar {
  display: flex;
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  font-size: large;
  align-items: center;
}

.header-bar2 {
  display: flex;
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  font-size: large;
  align-items: center;
}

.artist img {
  width: 6em;
  height: 6em;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(114, 37, 43, 0.19) 0px -12px 30px, rgba(114, 37, 43, 0.19) 0px 4px 6px,
    rgba(114, 37, 43, 0.26) 0px 12px 13px, rgba(114, 37, 43, 0.18) 0px -3px 5px;

  border-radius: 50%;
  margin-top: 10%;
}

.artist {
  display: flex;
  justify-content: center;
}

.artist-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.artist-info span:first-child {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 0.5rem;
}

.artist-info span:nth-child(2) {
  opacity: 0.4;
}

.button {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.button div {
  width: 10em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button div:first-child {
  background-color: black;
  color: white;
  border-radius: 30px;
  margin-left: 10%;
}

.button div:nth-child(2) {
  background-color: white;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  margin-right: 10%;
}

.button i {
  margin-right: 0.5em;
}

.songs img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  object-fit: cover;
}

.songs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.song2,
.song3,
.song4 {
  padding: 0px 3em;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.song1-column:nth-child(2),
.song2-column:nth-child(2),
.song3-column:nth-child(2),
.song4-column:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.songs-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.song1-column:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-left: 0.4em;
}

.song1-column div:first-child,
.song2-column div:first-child,
.song3-column div:first-child,
.song4-column div:first-child {
  opacity: 0.4;
}

.song1-column div:last-child,
.song2-column div:last-child,
.song3-column div:last-child,
.song4-column div:last-child {
  font-weight: 700;
  margin-top: 0.5em;
}

.song1 {
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 3em;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.song1-column:last-child {
  color: grey;
}

.song2-column:last-child {
  color: grey;
}
.song3-column:last-child {
  color: grey;
}
.song4-column:last-child {
  color: grey;
}
.song4 img {
  border-radius: 100px;
}

.main-screen img {
  width: 20rem;
  height: 20rem;
  border-radius: 25px;
  margin-top: 60px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(24, 34, 31, 0.21) 0px -12px 30px, rgba(24, 34, 31, 0.21) 0px 4px 6px,
    rgba(24, 34, 31, 0.2) 0px 12px 13px, rgba(24, 34, 31, 0.1) 0px -3px 5px;
}

.main-screen {
  width: 100%;
  display: flex;
  justify-content: center;
}

.song-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.song-title div:first-child {
  font-weight: 800;
  font-size: 35px;
}

.song-title div:nth-child(2) {
  margin-top: 10px;
  opacity: 0.5;
}

.song-info input {
  width: 90%;
  accent-color: black;
  height: 5px;
}

.song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  margin-top: 100px;
  opacity: 0.4;
  flex-direction: row;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.songplay {
  width: 100%;
  padding: 0 2em;
  display: flex;
  margin-top: 5.5em;
  justify-content: space-between;
  align-items: center;
}

.songplay-column {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-arrows-rotate,
.fa-shuffle {
  opacity: 0.4;
}

.songplay__column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.songplay__column1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: black;
  color: white;
  border-radius: 50px;
  margin: 0px 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.fa-headphones {
  position: absolute;
  left: 57px;
  top: 23px;
  color: white;
}

.song1 {
  position: relative;
}

.currentsong {
  display: flex;
  margin-top: 2em;
  width: 90%;
  background-color: #222222;
  border-radius: 30px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
  padding: 0px 5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.currentsong__column {
  color: white;
}

.keshi {
  margin-bottom: 5px;
  opacity: 0.4;
  color: white;
}

.fa-pause {
  margin: 0px 25px;
}

@media (max-width: 1030px) {
  .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button div:first-child {
    margin-bottom: 1em;
    margin-left: 0;
  }

  .button div:nth-child(2) {
    margin-right: 0;
  }

  .button div {
    width: 80%;
  }
}

@media (max-width: 890px) {
  .main2,
  .main1 {
    zoom: 90%;
  }
}

@media (max-width: 790px) {
  .songplay {
    padding: 0 0.5em;
  }

  .main2,
  .main1 {
    zoom: 80%;
  }
}

@media (max-width: 670px) {
  .main2,
  .main1 {
    zoom: 70%;
  }
}

@media (max-width: 615px) {
  .main2,
  .main1 {
    zoom: 50%;
  }
}
